.wp-block-heading {
  margin-bottom: 30rem;
  margin-top: 30rem;
}
.privacy-list {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  margin-top: 30rem;
  list-style-type: disc;
  padding-left: 45rem;
}
